body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.navbar {
    background-color: hsl(0, 0%, 100%);
    color: #fff;
    padding: 9px 0;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    font-weight: bold;
}

.nav-links a:hover {
    color: #ffd000;
}

.contact-container {
    max-width: 600px;
    margin: 5rem auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.contact-container h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}

.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #ff6347;
}
.logo img{
    height: 70px;

}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}